div.eduhub_core_name_group{
    padding-top:20px;
    padding-bottom:5px;
    width:100%;
}
div.container_eduhub_navbar{
    width:100%;
    height:50px;
    text-align:center;
    vertical-align:center;
}
div.eduhub_core_individual_group{
    height:100px;
}
div.media{
    padding:10px;
}

div.imagen{
 width:150px;
 height:150px;
}
button.btn-eduhub{
    width:150px;
    color:white;
}
a.btn-eduhub{
    width:150px;
    color:white;
}
div.o_panel{
    border-color: #ddd;
    border: 1px solid transparent;
    border-radius: 4px;
}
div.container {
  width: 1170px;  
  grid-column-gap: 10px;
  grid-row-gap: 25px;
  padding: 10px;
  border-radius: 10px;
}